AIO_CORE/src/main/java/META-INF/MANIFEST.MF
AIO_VUE/.idea/*
AIO_LAYUI/.project
AIO_LAYUI/.classpath
AIO_SER/src/main/resources/application.yml
AIO_LAYUI/src/main/webapp/static/js/modules/system/menu/menuList.js
AIO_LAYUI/src/main/webapp/static/js/application.js
AIO_LAYUI/src/main/webapp/static/js/modules/system/menu/menuList.js
AIO_LAYUI/.externalToolBuilders/org.eclipse.jdt.core.javabuilder.launch
AIO_LAYUI/.externalToolBuilders/org.eclipse.wst.common.project.facet.core.builder (1).launch
AIO_LAYUI/.externalToolBuilders/org.eclipse.wst.validation.validationbuilder (1).launch
AIO_LAYUI/.externalToolBuilders/org.eclipse.wst.validation.validationbuilder (3).launch
AIO_LAYUI/.externalToolBuilders/org.eclipse.wst.common.project.facet.core.builder (2).launch
AIO_LAYUI/.externalToolBuilders/org.eclipse.m2e.core.maven2Builder.launch
AIO_LAYUI/.externalToolBuilders/org.eclipse.jdt.core.javabuilder (1).launch
AIO_CORE/.externalToolBuilders/org.eclipse.wst.validation.validationbuilder (4).launch
AIO_CORE/.externalToolBuilders/org.eclipse.wst.common.project.facet.core.builder (3).launch
