<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpri.aio.system.mapper.SysAreaMapper">
  
  <!--基础返回值定义-->
  <resultMap id="BaseResultMap" type="com.mpri.aio.system.model.SysArea">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort" jdbcType="DECIMAL" property="sort" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="flag" jdbcType="CHAR" property="flag" />
  </resultMap>
  
  <!-- 基础字段定义 -->
  <sql id="Base_Column_List">   
    id, parent_id, parent_ids, name, sort, code, type,create_date, remark, flag
  </sql>
  
  <!-- 查询条件定义 -->
  <sql id="query_where" >
    <if test="entity!=null">
       <if test="entity.id!=null and entity.id!='' ">
           and id=#{entity.id}
       </if>
       <if test="entity.name!=null and entity.name!='' ">
           and name LIKE '%${entity.name}%'
       </if>
       <if test="entity.sort!=null and entity.sort!='' ">
           and sort=#{entity.sort}
       </if>
       <if test="entity.code!=null and entity.code!='' ">
           and code=#{entity.code}
       </if>
       <if test="entity.type!=null and entity.type!='' ">
           and type=#{entity.type}
       </if>
       <if test="entity.queryBeginDate!=null and entity.queryBeginDate!=''">
           and create_date &gt;= #{queryBeginDate}  
       </if>
	   <if test="entity.queryEndDate!=null and entity.queryEndDate!='' ">
           and create_date &lt;= #{queryEndDate}  
       </if>
           and flag= #{entity.FLAG_NORMAL}
	</if>
  </sql>
  
  <!-- 根据id查询对象-->
  <select id="get" parameterType="com.mpri.aio.system.model.SysArea" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from sys_area
    where id = #{id,jdbcType=VARCHAR} and flag = #{FLAG_NORMAL}
  </select>
  
  <!-- 插入对象 -->
  <insert id="insert" parameterType="com.mpri.aio.system.model.SysArea">
    insert into sys_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="parentIds != null">
        parent_ids,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentIds != null">
        #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 更新对象 -->
  <update id="update" parameterType="com.mpri.aio.system.model.SysArea">
    update sys_area
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentIds != null">
        parent_ids = #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据地区编码查询对象 -->
  <select id="getSysAreaByCode" parameterType="com.mpri.aio.system.model.SysArea" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_area
    where code = #{code,jdbcType=VARCHAR} and flag=#{FLAG_NORMAL}
  </select>
  
  
  <!-- 删除对象 -->
  <update id="delete" parameterType="com.mpri.aio.system.model.SysArea">
    update sys_area set flag = #{FLAG_DELETE} where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 分页查询对象 -->
  <select id="loadByPage" parameterType="com.mpri.aio.system.model.SysArea" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sys_area 
    <where>
	  <include refid="query_where"></include>
    </where>
  </select>
  
  <!-- 依照条件查询所有对象 -->
  <select id="loadAllListBy"  parameterType="com.mpri.aio.system.model.SysArea" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sys_area 
	<where>
	  <include refid="query_where"></include>
    </where>
  </select>
  
  <!-- 根据父地区获取所有子地区 -->
  <select id="loadChildrenByParent"  parameterType="com.mpri.aio.system.model.SysArea" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sys_area 
	where parent_id = #{parentId,jdbcType=VARCHAR} and flag=#{FLAG_NORMAL}
  </select>
  
</mapper>