<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpri.aio.system.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.mpri.aio.system.model.SysRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="flag" jdbcType="CHAR" property="flag" />
	<collection property="menuList" ofType="com.mpri.aio.system.model.SysMenu">
		<id property="id" column="menuList.id" />
	</collection>    
  </resultMap>
  
  <!-- 基础字段定义 -->
  <sql id="Base_Column_List">
    id, name, code, type, create_date,remark, flag
  </sql>
  
  <!-- 查询条件定义 -->
  <sql id="query_where" >
    <if test="entity!=null">
       <if test="entity.id!=null and entity.id!='' ">
           and id=#{entity.id}
       </if>
       <if test="entity.name!=null and entity.name!='' ">
           and name LIKE '%${entity.name}%'
       </if>
       <if test="entity.code!=null and entity.code!='' ">
           and code=#{entity.code}
       </if>
       <if test="entity.type!=null and entity.type!='' ">
           and type=#{entity.type}
       </if>
	   <if test="entity.queryBeginDate!=null and entity.queryBeginDate!=''">
           and create_date &gt;= #{queryBeginDate}  
       </if>
	   <if test="entity.queryEndDate!=null and entity.queryEndDate!='' ">
           and create_date &lt;= #{queryEndDate}  
       </if>
           and flag= #{entity.FLAG_NORMAL}
	</if>
  </sql>
  
  <!-- 根据id查询对象-->
  <select id="get" parameterType="com.mpri.aio.system.model.SysRole" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    ,rm.menu_id AS "menuList.id"
    from sys_role a 
    LEFT JOIN sys_role_menu rm ON rm.role_id = a.id
    where a.id = #{id,jdbcType=VARCHAR} and flag= #{FLAG_NORMAL}
  </select>
  
  <!-- 插入对象 -->
  <insert id="insert" parameterType="com.mpri.aio.system.model.SysRole">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 更新对象 -->
  <update id="update" parameterType="com.mpri.aio.system.model.SysRole">
    update sys_role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 删除对象 -->
  <update id="delete" parameterType="com.mpri.aio.system.model.SysRole">
    update sys_role set flag = #{FLAG_DELETE} where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 分页查询对象 -->
  <select id="loadByPage" parameterType="com.mpri.aio.system.model.SysRole" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sys_role 
    <where>
	  <include refid="query_where"></include>
    </where>
  </select>
  
  <!-- 依照条件查询所有对象 -->
  <select id="loadAllListBy"  parameterType="com.mpri.aio.system.model.SysRole" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sys_role 
	<where>
	  <include refid="query_where"></include>
    </where>
  </select>
  
  <!-- 依照用户id查询所有角色列表 -->
  <select id="loadRoleByUser"  parameterType="com.mpri.aio.system.model.SysUser" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sys_role sr
	 inner join sys_user_role srm
	 where
	 sr.id = srm.role_id
	 and sr.flag = #{FLAG_NORMAL}
	 and srm.user_id = #{id,jdbcType=VARCHAR}
  </select>
	
	<!--保存菜单与角色关系  -->
	<insert id="insertRoleMenu">
		INSERT INTO sys_role_menu(role_id, menu_id)
		<foreach collection="menuList" item="sysmenu" separator=" union all ">
			SELECT #{id}, #{sysmenu.id}
			FROM dual
		</foreach>
	</insert>	
	
	<!-- 清楚角色和菜单关系 -->
	<delete id="deleteRoleMenu">
		DELETE FROM sys_role_menu WHERE role_id = #{id}
	</delete>
</mapper>